*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: #f2f2f2;
}
 
/* navbar */
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.5px;
    width: 25px;
    
}

.bars .bar{
    width: 100%;
    height: 2px;
    background-color: #888d68;
    transition: all 300ms ease-in-out;
    margin-left: 640px;
}

.bars:hover .bar{
    background-color: #1e2532;
}

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0,0,0,0,0.08) 0px 3px 8px;
    background-color:   #BAC7CE;
}

.navbar .nav-container{
    width: 100%;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

.nav-brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}

.nav-icon{
    width: 50px;
    opacity: 0.8;
    margin-right: 40px;
}

.toggler{
    display: flex;
    align-items: center;
    /* justify-content:space-evenly; */
}

.nav-text{
    color: #1e2532;
    font-weight: 600;
    font-size: 30px;
}

.nav-text span{
    color: #1A91f0;
}


/* //form */

h2{
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
}

.para{
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    
}
.container{
    background-color: #e7e7ff;
    width: 500px;
    padding: 25px;
    margin: 20px auto;
    border: 10px solid #ec7063 ;
    
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);

}

.container h2{
    font-size: 24px;
    line-height: 24px;
    padding: 5px;
    /* text-align: center; */
}

.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.user{
    padding: 8px 11px;
}

.text-name{
    width: 90%;
    padding: 8px 0 8px 40px;
    border: 1px solid #cccccc;
    outline: none;
    transition: all 0.30s ease-in-out ;
}

.input-name i{
    position: absolute;
    font-size: 18px;
    color: #CD5C5C;
    border-right: 1px solid #cccccc;
}

.text-name:hover{
    background-color: #e0dddd;
}

.text-name:focus{
    border: 1px solid #CD5C5C;
}

.button{
    background-color: #db6060 ;
    color: white;
    height: 35px;
    line-height: 35px;
    width: 90%;   
    border: none;
    outline: 0;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 15px;
}

.button:hover{
    background-color: #c0392b ;
}


/* resume-deisplay */

#resumeDisplay{
    background:#fcf3cf;
	border-radius:2.5%;
	max-width:800px;
    height: 1400px;
	margin:60px auto;
	/* padding: 5px 10px; */ 
	box-shadow:0 2px 20px rgba(0,0,0,0.3);
    padding-top: 20px;

}
#resumeDisplay img{
    width: 200px;
    height: 200px;
    border-radius: 15% ;
    border: 2px solid #e59866;
    margin:10px auto;
}

#resumeDisplay h1{
    color: #BEC496;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
	font-weight: 500;
    margin-top: 20px;

}

#resumeDisplay h2{
    color: black;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
	font-weight: 500;
    margin-top: 20px;

}

#resumeDisplay h3 {
    background: #e59866;
	padding:15px;
	color: #ffffff;
	margin: 30px 0;
	font-size: 25px;
    font-weight: bolder;
    width: 600px;
	border-radius: 0 50px 50px 0;
}



#resumeDisplay p{
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    margin-left: 30px ;
}

#resumeDisplay b{
    color: black;
    font-weight: bolder;

}

body::before{
    content: '';
    position: absolute;
    top: -50ox;
    bottom: -50px;
    right: -50px;
    left: -50px;
    background: linear-gradient(120deg, #fff, #ccc);
    z-index: -1;
    filter: blur(100px);
}

